src/services/Patrimonios/Patrimonios.Api/obj
src/services/Patrimonios/Patrimonios.Api/bin
src/services/Patrimonios/Patrimonios.Domain/obj
src/services/Patrimonios/Patrimonios.Domain/bin
src/services/Patrimonios/Patrimonios.Infra/obj
src/services/Patrimonios/Patrimonios.Infra/bin
src/services/Patrimonios/Patrimonios.Tests/obj
src/services/Patrimonios/Patrimonios.Tests/bin
/.vs/Patrimonios
/.vscode

